.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .pagination-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%; /* O ajusta este valor según tus necesidades */
	max-width: 200px; /* O ajusta este valor según tus necesidades */
  }
  
  button {
	background: transparent;
	color: #000;
	border: none;
	cursor: pointer;
	font-size: 14px;
  }
  
  /* Otros estilos según sea necesario */
  