.paginado{
    font-family: "Epilogue";
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
	justify-content: center;
	overflow: hidden;
	padding: 0 50px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	font-size: 8px;}

.button-paginate{
	border-radius: 1em;
	border-style:hidden;
	text-align: center;
	opacity: 80%;
	background-color: rgb(235, 233, 233);
	color: black;
	font-family:  Google Sans,arial,sans-serif;
	font-weight: bold;
}

.button-paginate:hover{
	background-color: rgb(235, 233, 233);
	color: rgb(95, 94, 94);
		font-weight: bold;
	}

	.current-page {
		font-size: 16px;
		font-weight: bold;
		margin: 0 50px;
		color: #333;
	  }